body {
  background-color: #c9c9c9;
}

#layout {
  border: 4px solid #9f9f9f;
}

#layout h1 {
  background-color: #505050;
}

#copyright,
#serverInfo {
  background-color: #808080;
}

legend {
  background-color: #505050;
}